# always ignore these following folders

# data folder has some huge files we can recreate with code or obtain externally or remake manually
data/

# plots are all made with code
plots/

# this is a small folder with non-essential QGIS projects
qgis_projects/

# and simulations, which at this point are dummy simulations we don't need to keep track of
simulations/
.Rproj.user
